@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/*Google font*/
.noto-serif-jp-uniquifier{
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
html{
    font-size: 100%;
}
body{
    font-family: "Noto Serif JP", serif;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    background-color: #E6E2D7;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}
li{
    list-style: none;
}
/* .logo {
    width: 100px;
    line-height: 1px;
    margin-right: 60px;
} */
/* .logo a {
    display: block;
} */
.section-title{
    display: flex;
    flex-direction: column;
    -ms-writing-mode: tb-rl;
	writing-mode: vertical-rl; 
}
.title-ja{
    font-size: 36px;
    font-weight: 400;
}
.title-en{
    font-size: 1rem;
    font-weight: 400;
}
main{
    margin: 0;
    padding: 0;
}
/*--------------------------------------
header
---------------------------------------*/
#header{
    width: 100%;
    margin-bottom: 200px;
    background-image: url(img/mainvisual-pc.jpg);
    background-size: cover;
    background-position: center top;
    box-sizing:border-box;
    /* background-repeat: no-repeat; */
    height: 100vh;
    position: relative;
    writing-mode: vertical-rl;
}
/* .global-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
} */
/* .global-menu .logo{
    margin: 0;
    padding: 30px;
} */
.logo img{
    width: 40px;
}
/* .global-menu nav{
    padding: 30px;
} */
/* nav ul{
    display: flex;
    padding: 0;
} */
nav ul li{
    padding-left: 25px;
    /* -ms-writing-mode: tb-rl; */
	/* writing-mode: vertical-rl; */
}
nav ul li a{
    color: #fff;
}
.online-shop a{
    /* -ms-writing-mode: tb-rl; */
	/* writing-mode: vertical-rl; */
    color: #fff;
    display: block;
    /* background-color: rgba(255,255,255,0.2); */
    padding: 30px 18px;
    border: 1px solid #fff;
}
.online-shop{
    /* display: inline-block; */
    position: absolute;
    padding: 8px;
    background-color: rgba(255,255,255,0.2);
    left: 40px;
    bottom: 30px;
    /* margin-left: 50px;
    margin-top: 10vw; */
}

/*-------------------------------------------
news
---------------------------------------------*/
#news{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    margin-bottom: 200px;
}
.news-list{
    padding-top: 80px;
    padding-right: 80px;
}
.news-list ul{
    display: flex;
}
.news-list ul li{
    padding-right: 15px;
    -ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
    border-right: 1px solid #000;
} 
.news-list ul li:first-child{
    border-left: 1px solid #000;
}

/*-------------------------------------------
value
---------------------------------------------*/
#value{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    margin-bottom: 200px;
}
#value .section-title{
    display: flex;
    flex-direction: row;
}
#value .section-title .title-en{
    margin: 0 auto;
    margin-top: 30px;
}
.value-section{
    position: relative;
}
.value-img{
    padding-top: 80px;
}
.value-img img{
    width: 640px;
}
.value-text{
    padding: 30px 70px;
    color: #fff;
    position: absolute;
    background-color: hsla(56, 95%, 50%, 0.6);
    left: -30px;
    top: 400px;
}

/*-------------------------------------------
technology
---------------------------------------------*/
#technology{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-bottom: 200px;
}
#technology .section-title{
    display: flex;
    flex-direction: row;
}
#technology .section-title .title-en{
    margin: 0 auto;
    margin-top: 30px;
}
.technology-section{
    position: relative;
}
.technology-img{
    padding-top: 80px;
}
.technology-img img{
    width: 640px;
}
.technology-text{
    padding: 30px 70px;
    color: #fff;
    position: absolute;
    background-color: hsla(2, 59%, 37%, 0.6);
    right: -30px;
    top: 400px;
}

/*-------------------------------------------
access
---------------------------------------------*/
#access{
    display: flex;
    width: 100%;
}
#access iframe{
    width: 100%;
}

/*-------------------------------------------
footer
---------------------------------------------*/
.footer-logo{
    margin:0 50px;
}
.footer-logo img{
    width: 40px;
    line-height: 1px;
}
#footer{
    background-color: #000;
    color: #fff;
    padding: 80px 80px 30px 30px;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.store-info{
	writing-mode: vertical-rl;
    text-orientation: upright;
}
.footer-right-menu{
    display: flex;
    flex-direction: row-reverse;
}
.hyphen{
    writing-mode: vertical-rl;
}
.footer-right-menu ul{
    -ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
    padding: 0;
}
.footer-right-menu ul li{
    font-size: 1.0rem;
    padding-left: 20px;
}
.footer-right-menu ul li a{
    color: #fff;
}
.footer-left-menu{
    display: flex;
    flex-direction: row;
    -ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
}
.footer-left-menu p{
    margin: 0;
}
.yoko{
    writing-mode:horizontal-tb;
}
.copyright{
    text-align: center;
    margin: 0 auto;
    font-size: 0.7rem;
}

@media screen and (max-width: 768px){

    /*--------------------------------------
    header
    ---------------------------------------*/
    #header{
        width: 100%;
        background-image: url(img/mainvisual-sp.jpg);
        padding: 20px;
        margin-bottom: 40px;
        position: relative;
    }
    /* .global-menu{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    } */
    /* .global-menu .logo{
        text-align: end;
        padding: 0px;
        margin-left: 30px;
    } */
    /* .global-menu nav{
        padding: 0 ;
    } */
    /* nav ul{
        display: flex;
        padding: 0;
        margin: 0px;
    } */
    /* nav ul li{
        padding-left: 10px;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    } */
    /* nav ul li a{
        color: #fff;
    } */
    .online-shop a{
        display: block;
        padding: 8px;
        margin: 0 auto;
    }
    .online-shop{
        /* position: absolute;
        display: inline-block;
        padding: 20px;
        margin: 0px; */
        left: 20px;
        bottom: 20px;
    }

    /*--------------------------------------
    news
    ---------------------------------------*/
    #news{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        box-sizing: border-box;
        margin-bottom: 40px;
    }
    #news .section-title .title-ja{
        font-size: 1.9rem;
    }
    .news-list{
        padding-top: 10px;
        padding-right: 15px;
    }
    .news-list ul{
        display: flex;
        padding: 0px;
    }
    .news-list ul li{
        padding: 0 10px;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        border-right: 1px solid #000;
    } 
    .news-list ul li p{
        margin: 0;

    }
    .news-list ul li:nth-child(n + 4){
        font-size: 0.7rem;
        display: none;
    }
    .news-list ul li:first-child{
        border-left: 1px solid #000;
    }

    /*--------------------------------------
    value
    ---------------------------------------*/
    #value{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        box-sizing: border-box;
        margin-bottom: 100px;
    }
    #value .section-title{
        display: block;
        margin: 0;
    }
    #value .section-title .title-ja{
        font-size: 1.5rem;
    }
    #value .section-title .title-en{
        display: none;
    }
    .value-section{
        position: relative;
    }
    .value-img img{
        width: 100%;
    }
    .value-text{
        padding: 15px 45px;
        color: #fff;
        position: absolute;
        background-color: hsla(56, 95%, 50%, 0.6);
        left: -20px;
        top: 220px;
    }

    /*-------------------------------------------
    technology
    ---------------------------------------------*/
    #technology{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        margin-bottom: 100px;
    }
    #technology .section-title{
        display: block;
        margin: 0;
    }
    #technology .section-title .title-ja{
        font-size: 1.5rem;
    }
    #technology .section-title .title-en{
        display: none;
    }
    .technology-section{
        position: relative;
    }
    .technology-img{
        padding-top: 80px;
        text-align: end;
    }
    .technology-img img{
        width: 100%;
    }
    .technology-text{
        padding: 15px 45px;
        color: #fff;
        position: absolute;
        background-color: hsla(2, 59%, 37%, 0.6);
        right: -20px;
        top: 220px;
    }

    /*-------------------------------------------
    access
    ---------------------------------------------*/
    #access{
        /*map下の余白を無くすため*/
        display: flex;
        width: 100%;
    }
    #access iframe{
        width: 100%;
    }

    /*-------------------------------------------
    footer
    ---------------------------------------------*/
    .footer-logo{
        margin:0 10px;
    }
    .footer-logo img{
        width: 40px;
    }
    #footer{
        padding: 40px 20px 30px 20px;
    }
    .footer-right-menu ul li{
        font-size: 0.9rem;
        padding-left: 10px;
    }
    .copyright{
        font-size: 0.6rem;
    }

}